# Media

*.png binary

# Stuff that really matters

*.json text eol=lf
*.md   text eol=lf
*.ps1  text eol=lf

# Generated
*.html  text eol=lf
*.sh    text eol=lf

# GitHub

*.nojekyll text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf

# Git

.gitattributes text eol=lf
.gitignore     text eol=lf

